Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
l=['Kundan',[1,2,3,4,5],50.78,(1,2)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Ans:
1> Data type of Var1 is string.
2> Data type of Var2 is string.
3> Data type of Var3 is list.
4> Data type of Var4 is integer.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Ans:
1> Single forward slash is one of the arithmetic operator in python programming language. When we put forward slash between two numeric integer it perform division. For example 10 / 2 = 5.0
2> Percentage symbol is named as moduls operator in python programming language. when we put moduls between two numeric integer it perform division and give us reminder as output. For example 10 % 2 = 0
3> Double forward slash is named as floor division in python programming language. when we execute floor division between two numbers it perform division and convert its quotient into nearest whole number and give us as output.
4> Double astrik is on of the arithmetic operator in python which is named as exponentiation operator and also known as power operator when we put it between tow numbers it perfom multiplication of first number to itself for number of times of second number. For example 10 ** 3 = 1000.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
l=['Kundan',[1,2,3,4,5],50.78,(1,2),1,2,4.5,'K',0]
for i in l:
    print(i)
    print(type(i))

Kundan
<class 'str'>
[1, 2, 3, 4, 5]
<class 'list'>
50.78
<class 'float'>
(1, 2)
<class 'tuple'>
1
<class 'int'>
2
<class 'int'>
4.5
<class 'float'>
K
<class 'str'>
0
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [4]:
a=100
b=2
count=0
while a  % b == 0:
    a /= b
    count += 1
if count > 0:
    print(f'a is divisibel by b and can be divided {count} times.')
else:
    print('a is not divisible by b')

a is divisibel by b and can be divided 2 times.

Q5. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print({i},' is divisible by 3')
    else:
        print({i},' is not divisible by 3')

{1}  is not divisible by 3
{2}  is not divisible by 3
{3}  is divisible by 3
{4}  is not divisible by 3
{5}  is not divisible by 3
{6}  is divisible by 3
{7}  is not divisible by 3
{8}  is not divisible by 3
{9}  is divisible by 3
{10}  is not divisible by 3
{11}  is not divisible by 3
{12}  is divisible by 3
{13}  is not divisible by 3
{14}  is not divisible by 3
{15}  is divisible by 3
{16}  is not divisible by 3
{17}  is not divisible by 3
{18}  is divisible by 3
{19}  is not divisible by 3
{20}  is not divisible by 3
{21}  is divisible by 3
{22}  is not divisible by 3
{23}  is not divisible by 3
{24}  is divisible by 3
{25}  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans:
A datatype that allow to change their value after declare is called mutable for example list data type and an object that doesn't allow to change their value after declare is called immutable for example string data type.

In [8]:
#Example for mutable.
l=[1,2,3,4,5,6,7,8,9]
l[0]=0 ## This modifies the first element of the list to have a value of 0

[range(0, 10)]

In [ ]:
#Example for immutable
my_str='Kundan'
my_str[0]='M' # this will result in a TypeError since strings are immutable.